
<!doctype html>
<html>
  <head>
    <title>Tools.CO webshop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/cart.css">
  </head>
  <body>
    <div class="header">
      <a href="/" class="logo">
      <img src="/images/web_logo.png"   height="50">
      </a>
      <div class="header-right">
        <a class="active" id="imeKat" ><div>Moja košarica</div></a> 
        <a href="/cart" class="cart">
          <div class="cartPhoto" id="cartPhoto">
          <img src="/images/shopingcart.png"   height="100">
          <div class="cartNum" id="cartNum">-1</div>
        </div>
        </a>
        <a class="search">
          <img src="/images/searchButton.png"   height="100">
        </a>
      </div>
     </div> 
     <div class="kosarica">
        <div class="lista" id="lista">
          <div class="naziviStupca">
            <div class="lijevo">Naziv Proizvoda</div>
            <div class="desno">Količina</div>
          </div>
        </div>
     </div>

</html>