
<!doctype html>
<html>
  <head>
    <title>Tools.CO webshop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/cart.css">
  </head>
  <body>
    <%- include('partials/header') %> 
     <div class="kosarica">
        <div class="lista" id="lista">
          <div class="naziviStupca">
            <div class="lijevo">Naziv Proizvoda</div>
            <div class="desno">Količina</div>
          </div>
        </div>
     </div>

</html>