
<!doctype html>
<html>
  <head 
  >
    <title>Tools.CO webshop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/index.css">
  </head>
  <body>
    <div class="header">
      <a href="/" class="logo">
      <img src="/images/web_logo.png"   height="50">
      </a>
      <div class="header-right">
        <a class="active" id="imeKat" ></a> 
        <a href="/cart" class="cart">
          <div class="cartPhoto" id="cartPhoto">
          <img src="/images/shopingcart.png"   height="100">
          <div class="cartNum" id="cartNum">-1</div>
        </div>
        </a>
        <a class="search">
          <img src="/images/searchButton.png"   height="100">
        </a>
      </div>
     </div> 

     <div class="Content">

     <div class="lijevo">
      <div class="kategorije" id="bob">

      </div>
      <div class="PR-stuff">
        <div> <a class="link">Kontakt</a></div>
        <div> <a class="link">Newsletter</a></div>
        <div> <a class="link">Pretplati se</a></div>

      </div>

     </div>

     <div class="desno-gore"><img src="images/nicePhoto.jpg" height="310px" width="100%"><label class="top-left">Dobrodošli!</label></div>
     <div class="desno-dolje" id="bob2"></div>




     </div>
    
</html>